################################
# C / C++ compiled artifacts
################################
*.o
################################
# Ignore everything by default
################################
*

################################
# Allow directories
################################
!*/

################################
# Allow source files only
################################
!**/*.c
!**/*.cpp
!**/*.java
!**/*.h

################################
# Allow git files
################################
!.gitignore
!README.md

